// TODO: import from "../../node_modules/primeng/resources/themes/omega/theme.css"
$stateDefaultBorderWidth: 1px;
$stateDefaultBorderColor: #d6d6d6;
$stateDefaultBgColor: #ffffff;
$stateDefaultTextColor: #555555;
$stateActiveBorderColor: #bebebe;
