
<div id="main">
    <!-- Main Content Area -->
  <div class="main-content">
    <section>
      <h2>Announcements</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <h4>Fall Winter Cleanup<br><small>10/21/2017</small></h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </td>
          </tr>
          <tr>
            <td>
              <h4>Free Breakfast in Lobby Area<br><small>starting 12/01/2017</small></h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</div>