<div class="container">
  <h2>Applicant</h2>
  <p>
    Message for new Applicants
  </p>

  <div class="alert alert-info" *ngIf="message">
    {{message}}
  </div>

  <div class="alert alert-danger" *ngIf="errorMessage">
    {{errorMessage}}
  </div>

  <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && register()" novalidate>
    <div class="form-group" [ngClass]="{ 'is-invalid': f.submitted && !firstname.valid }">
      <label for="firstname">First Name</label>
      <input type="text" class="form-control" name="firstname" [(ngModel)]="model.firstname" #firstname="ngModel" required />
      <div *ngIf="f.submitted && !firstname.valid" class="invalid-feedback">First name is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lastname.valid }">
      <label for="lastname">Last Name</label>
      <input type="text" class="form-control" name="lastname" [(ngModel)]="model.lastname" #lastname="ngModel" required />
      <div *ngIf="f.submitted && !lastname.valid" class="invalid-feedback">Last name is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !emailAddress.valid }">
      <label for="emailAddress">Email</label>
      <input type="email" class="form-control" name="emailAddress" [(ngModel)]="model.emailAddress" #emailAddress="ngModel" required />
      <div *ngIf="f.submitted && !emailAddress.valid" class="invalid-feedback">Email address is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !phone.valid }">
      <label for="phone">Phone</label>
      <input type="text" class="form-control" name="phone" [(ngModel)]="model.phone" #phone="ngModel" required />
      <div *ngIf="f.submitted && !phone.valid" class="invalid-feedback">Phone number is required</div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Register</button>
      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </div>
  </form>
</div>