<div class="marginTop"></div>

<div class="table-responsive">
    <table class="table table table-striped table-bordered table-hover">
      <tbody>
        <tr>
          <td>

            <p>
              Message ID: {{id}}
            </p>
            <p>  
              <strong>{{message.subject}}<br>
                <small>{{message.createDate | date}}</small>
              </strong>
            </p>
          
            <p>
              {{message.message}}
            </p>
            
            <!-- <p>Best Regards,<br>
              Treetop Village Apartments</p> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>