<div class="marginTop"></div>

<div class="table-responsive">
    <table class="table table table-striped table-bordered table-hover">
      <tbody>
        <tr>
          <td>
            <p>  
              <strong>{{message?.subject}}<br>
                <small>{{message?.createDate | date}}</small>
              </strong>
            </p>
            <p>
              <span [innerHTML]="message.message | safeHtml"></span>

            </p>
            <p>
              <strong *ngIf="message?.messageAttachments.length"><i class="fa fa-paperclip"></i><br>
                <small *ngFor='let attachment of message?.messageAttachments'>
                  <img class="attach" [src]="attachment?.url" alt="File" onError="this.src='./assets/FilePDF.png';"><i class="fa fa-chevron-right"></i>{{attachment?.fileName}} -- {{attachment?.fileType}}</small>
              </strong>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <img *ngIf="loading" class="spinner" src="./assets/Spinner-100px.gif" />