<div class="container">
  <div class="col-md-6 offset-md-3">
      <div class="card">
        <h5 class="card-header"> Resident: Sign In </h5>
          <div class="card-body">
          <form  name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
            <div class="form-group">
              <label> Email: </label>
                <input type="text" class="form-control" name="emailAddress" [ngClass]="{ 'is-invalid': !emailAddress.valid && f.submitted }" [(ngModel)]="model.emailAddress" #emailAddress="ngModel" required/>
                <div *ngIf="f.submitted && !emailAddress.valid" class="invalid-feedback">Email is required</div>
            </div>
            <div class="form-group">
              <label> Password: </label>              
                <input type="password" class="form-control" name="password" [ngClass]="{ 'is-invalid': !password.valid && f.submitted }" [(ngModel)]="model.password" #password="ngModel" required/>
                <div *ngIf="f.submitted && !password.valid" class="invalid-feedback"> Password is required</div>
              <a href="#">Forgot Password</a>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" [disabled]="loading">Login</button>
                <p-progressSpinner *ngIf="loading" [style]="{width: '25px', height: '25px'}" strokeWidth="4" animationDuration="1s"></p-progressSpinner>
            </div>
          </form>
        </div>
      </div> 
      <button class="btn btn-link pull-right" [routerLink]="['/register']">Create an Account</button>
      <!-- <div class="float-left">
        <span> Version {{version}}</span>
      </div> -->
  </div>
</div>



