<div class="container">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <h5 class="card-header">Create an Account</h5>
            <div class="card-body">
            <form [formGroup]="registerForm" (ngSubmit)="register()" novalidate>

            <div class="form-group">
                <label>First Name: </label>
                <input type="text" class="form-control" formControlName="firstName" 
                [ngClass]="{'is-invalid': !firstName.valid && firstName.dirty}" required>     
                <div class="invalid-feedback" *ngIf="!firstName.valid">First Name is required</div>
            </div>

            <div class="form-group">
                <label>Last Name: </label>
                <input type="text" class="form-control" formControlName="lastName" 
                [ngClass]="{'is-invalid': !lastName.valid && lastName.dirty}" required>
                <div class="invalid-feedback" *ngIf="!lastName.valid"> Last Name is required</div>
            </div>

            <div class="form-group">
                <label>Email: </label>
                <input type="email" class="form-control" formControlName="email" 
                [ngClass]="{'is-invalid': !email.valid && email.touched}" required>
                <div class="invalid-feedback" *ngIf="!email.valid">Email is required</div>
            </div>

            <div class="form-group">
                <label>Password: </label>
                <input type="password" class="form-control" formControlName="password" 
                [ngClass]="{'is-invalid': !password.valid && password.dirty}" required>
                <div class="invalid-feedback" *ngIf="!password.valid">Password is required</div>
            </div>

            <div class="form-group">
                <label for="birthdate">For identity purposes, please provide your Birthdate: </label>
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker" required>
                  <button class="input-group-addon"  (click)="d.toggle()" type="button" style="cursor: pointer"> <i class="fa fa-calendar" ></i> </button>
                  <div class="form-control-feedback" *ngIf="birthdate.errors && (birthdate.dirty || birthdate.touched)">
                    <p class="invalid-feedback" *ngIf="!birthdate.valid">Date of birth is required</p>
                  </div>
                </div>
            </div>

            <div class="form-group pull-left">
                <button [disabled]="loading || !registerForm.valid" class="btn btn-primary">Submit</button>
                <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
            </div> 

            </form>
            </div>
        </div>
        <button [routerLink]="['/login']" class="btn btn-link pull-right">Go to Login</button>
    </div>
</div>


