.card-header {
    background-color: white;
    padding-top: 40px;
    text-transform: none;
}

.btn {
    cursor: pointer;
}

.fa-caret-left {
    font-size: 18px;
}

.backBtn {
    background-color:#869bc5;
}