
<div id="marginFix">
  <ngb-pagination *ngIf="!loading" [collectionSize]="totalItems" [pageSize]="itemsPerPage" [(page)]="page" [maxSize]="3" (pageChange)="pageChange()" class="float-right"></ngb-pagination>
  
  <section class="inbox" *ngIf="!loading">
    <div class="table">
      <table appSortableTable class="table" (sorted)="onSorted($event)">
        <thead class="thead-light">
          <!-- CUSTOM ANGULAR4 SORT DIRECTIVES -->
            <th style="width: 15px"> 
              <p-checkbox name="groupname" value="val1" [(ngModel)]="checkAll" (click)="selectAllInquiries()" binary="true"></p-checkbox>
            </th>
            <th><app-th columnName="subject" displayName="Message"></app-th></th>
            <th><app-th columnName="createDate" displayName="Date"></app-th></th>
        </thead>
        <tbody *ngIf="inquiries?.length; else no_data_templ">
          <tr *ngFor='let inquiry of inquiries' (click)="openInquiry(inquiry.id)">
            <td>
                <p-checkbox  name="groupname" value="val1" [(ngModel)]="inquiry.selected" binary="true"></p-checkbox>
            </td>
            <td class="nowrap">
                <i *ngIf="inquiry.isUrgent === 1" class="fa fa-exclamation-circle fa-lg" style="color: #ce7300"></i>
                <i *ngIf="inquiry.isUrgent === 1" style="color: #fff" class="fa fa-angle-right"></i>
                <span class="previewTitle" [innerHTML]="inquiry?.subject"></span>
                <span class="previewMessage" [innerHTML]="inquiry?.message | htmlToPlain">- </span>
            </td> 
            <td class="nowrap">
              <b>{{inquiry.createDate | date: 'MMM dd, y'}}</b>
              <i style="color: #fff" class="fa fa-angle-right"></i>
              <i *ngIf="inquiry.generalInquiryAttachments.length" class="fa fa-paperclip fa-lg"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <ngb-pagination *ngIf="!loading" [collectionSize]="totalItems" [pageSize]="itemsPerPage" [(page)]="page" [maxSize]="3" (pageChange)="pageChange()" class="float-right"></ngb-pagination>
                
  <img *ngIf="loading" class="spinner" src="./assets/Spinner-100px.gif" />

</div>

<ng-template #no_data_templ>
  <tbody>
    <tr>
      <td>
        <p-checkbox  name="groupname" value="val1" binary="true"></p-checkbox>
      </td>

      <td class="nowrap">
        <span class="previewTitle"> No Messages -</span> 
        <span class="previewMessage"> Empty Message</span> 
      </td> 

      <td class="nowrap">
        <span>Aug 10, 1984 </span>
      </td>
    </tr>     
  </tbody>                     
</ng-template>
