<p-fileUpload styleClass="myupload" name="demo[]" (uploadHandler)="onUpload($event)"
		        multiple="multiple" auto="auto" showUploadButton="false" showCancelButton="false" accept="image/*,.pdf" customUpload="true" maxFileSize="1000000">
	<ng-template pTemplate="content">
		<ul *ngIf="uploadedFiles.length">
			<li *ngFor="let file of uploadedFiles; let i = index;">
		        <div><img [src]="file.objectURL" *ngIf="file.isImage" [width]=50 [height]=50/>
		        {{file.name}} --
		        {{formatSize(file.size)}}
		        <button type="button" class="rematt" icon="fa-close" pButton (click)="remove(i)"></button></div>
		        <br>
		    </li>
		</ul>
	    <ul class="nobullet" *ngIf="uploadReady">
	        <li><i class="fa fa-check"><i style="color: #fff;font-size: 9px" class="fa fa-minus"></i></i>Attachments Loaded - Ready to Send</li>
	    </ul>
	    <ul *ngIf="!uploadReady && currentUpload">
	        <img src="./assets/Spinner-small.gif" />
	    </ul>
	</ng-template>        
</p-fileUpload>
