
    <!-- Main Content Area -->
    <div>
        <div class="container-fluid">
            <app-alert class='messages'></app-alert>
            <h1>Messages</h1>

            <section class="top">
                <form>
                    <div class="row">
                        <div class="col-md-2">
                            <section>
                                <div class="form-group">
                                    <label class="sr-only" for="inlineFormInputGroup">Search</label>
                                    <div class="input-group">
                                        <input type="search" class="form-control form-control-sm" id="inlineFormInputGroup" placeholder="Search">
                                        <div class="input-group-addon">
                                            <i class="fa fa-search"></i>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <section>


                                <button type="button" class="mb-3 btn btn-default btn-block text-left pointer" (click)="compose()">
                                    <i class="fa fa-edit fa-lg"></i> Create New</button>
                                    
                                    <div class="btn-group-vertical btn-block mail-nav">
                                        <a [routerLink]="['','messages', 'inbox']" class="btn btn-primary" [ngClass]="{'active': onInbox()}">
                                            <span class="badge badge-warning">3</span>
                                            <i class="fa fa-inbox"></i> Received
                                        </a>
                                    </div>
    
                            </section>
                        </div>

                        <div class="col-md-10">
                            <div class="d-flex">
                                <div class="mr-1">
                                    <!--Sort mail -->
                                    <div class="btn-group">
                                        <div ngbDropdown class="dropdown">
                                            <div ngbDropdownMenu class="dropdown-menu dropdown-noline pt-3 pb-3" aria-labelledby="dropdownSort">
                                                <div class="dropdown-item">Date Received</div>
                                                <div class="dropdown-item">From</div>
                                            </div>
                                        </div>

                                        <!--Filter dropdown - multi-select-->
                                        <div ngbDropdown class="dropdown">
                                            <button *ngIf="onInbox()" class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownFilter" ngbDropdownToggle aria-haspopup="true"
                                                aria-expanded="false">
                                                Filter
                                            </button>

                                            <a *ngIf="viewingMessage() || viewingInquiry()" routerLink="/messages/inbox" routerLinkActive="active" class="btn btn-default btn-sm"><i class="fa fa-long-arrow-left"></i> Back</a>

                                            <div ngbDropdownMenu class="dropdown-menu dropdown-md p-3" aria-labelledby="dropdownFilter">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="dropdown-item">
                                                            <label class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">Read</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="dropdown-item">
                                                            <label class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">Unread</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>

                                    <!-- These buttons should only show up when mail is selected -->
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-sm">
                                            <i class="fa fa-exclamation fa-lg"></i>
                                        </button>
                                        <button type="button" class="btn btn-default btn-sm">
                                            <i class="fa fa-trash fa-lg"></i>
                                        </button>
                                        <button type="button" class="btn btn-default btn-sm">
                                            <i class="fa fa-eye fa-lg"></i>
                                        </button>
                                    </div>
                                    <a *ngIf="onInbox()" class="btn btn-default btn-sm" (click)="refreshInbox()"><i class="fa fa-refresh"></i></a>

                                </div>
                            </div>
                            <!-- Mailbox -->

                            <!-- The Inbox / Sentbox -->
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>

