<div class="card">
  <div class="card-header">
    Recent Activity
  </div>
  <ul class="list-group list-group-flush">
    <li *ngFor="let activity of activities.announcements | slice:0:pageSize; let i = index" class="list-group-item">
      <h6><i class="fa fa-envelope float-right"></i>Announcement<br>
        <small>{{activity.createDate | date}}</small>
      </h6>
     <span [innerHTML]="activity.message"></span>
    </li>
    
    <li *ngFor="let activity of activities.messages | slice:0:pageSize; let i = index" class="list-group-item">
      <h6><i class="fa fa-envelope float-right"></i>Messages<br>
        <small>{{activity.subject}}</small>
      </h6>
     <span [innerHTML]="activity.message"></span>
    </li>
  </ul>
</div>