
<div id="marginFix">
  <ngb-pagination *ngIf="!loading" [collectionSize]="totalItems" [pageSize]="itemsPerPage" [(page)]="page" [maxSize]="3" (pageChange)="pageChange()" class="float-right"></ngb-pagination>
  
  <section class="inbox" *ngIf="!loading">
    <div class="table">
      <table appSortableTable class="table" (sorted)="onSorted($event)">
        <thead class="thead-light">
          <!-- CUSTOM ANGULAR4 SORT DIRECTIVES -->
            <th style="width: 15px"> 
              <p-checkbox name="groupname" value="val1" [(ngModel)]="checkAll" (click)="selectAllMessages()" binary="true"></p-checkbox>
            </th>
            <th><app-th columnName="subject" displayName="Subject"></app-th></th>
            <th><app-th columnName="createDate" displayName="Date"></app-th></th>
        </thead>
        <tbody>
          <tr *ngFor='let message of messages' (click)="openMessage(message.id)">
            <td>
                <p-checkbox  name="groupname" value="val1" [(ngModel)]="message.selected" binary="true"></p-checkbox>
                <!-- <i *ngIf="message.messageType==='ALERTURGENT'" style="font-size: 20px" class="fa fa-exclamation-circle urgent" pTooltip="Urgent Message" tooltipPosition="bottom"  aria-hidden="true"></i>  -->
            </td>
            <td class="nowrap">
                <span class="previewTitle" [innerHTML]="message?.subject"></span>
                <span class="previewMessage" [innerHTML]="message?.message | htmlToPlain">- </span>
            </td> 
            <td class="nowrap">
              <b>{{message.createDate | date}}</b>
              <i style="color: #fff" class="fa fa-minus"></i>
              <i *ngIf="message.messageAttachments.length" class="fa fa-paperclip fa-lg"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <ngb-pagination *ngIf="!loading" [collectionSize]="totalItems" [pageSize]="itemsPerPage" [(page)]="page" [maxSize]="3" (pageChange)="pageChange()" class="float-right"></ngb-pagination>
                
  <img *ngIf="loading" class="spinner" src="./assets/Spinner-100px.gif" />

</div>