<ngb-pagination *ngIf="!loading" [collectionSize]="totalItems" [pageSize]="itemsPerPage" [(page)]="page" [maxSize]="3" class="float-right"></ngb-pagination>

<section class="inbox" *ngIf="!loading">
  <div class="table-responsive">
    <table appSortableTable class="table table-hover" (sorted)="onSorted($event)">
      <thead class="thead-light">
        <!-- CUSTOM ANGULAR4 SORT DIRECTIVES -->
          <th> 
              <input type="checkbox" [(ngModel)]="checkAll" (click)="selectAllMessages(checkAll)" name="checkbox">
          </th>
          <th class="noPadding"><app-th columnName="id" displayName="Name"></app-th></th>
          <th class="noPadding"><app-th columnName="subject" displayName="Subject"></app-th></th>
          <th class="noPadding"><app-th columnName="createDate" displayName="Date"></app-th></th>
      </thead>
      <tbody>
        <tr *ngFor='let message of messages | slice:(page-1)*itemsPerPage:itemsPerPage*page' (click)="openMessage(message.id)">
          <td style="width: 25px">
            <ul class="list-inline m-0">
              <li class="list-inline-item">
                <input type="checkbox" [(ngModel)]="message.selected" name="checkbox">
              </li>
            </ul>
          </td>
          <td> <b>John Wayne</b> <!--<small> (id={{message.id}}) </small>-->  </td> 
          <td>
              <span class="previewTitle"> {{message.subject}} </span> 
              <span class="previewMessage">- {{message.message}} </span> 
          </td> 
          <td><b>{{message.createDate | date}}</b> </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<ngb-pagination *ngIf="!loading" [collectionSize]="totalItems" [pageSize]="itemsPerPage" [(page)]="page" [maxSize]="3" class="float-right"></ngb-pagination>
              
<p-progressSpinner class="spinner" *ngIf="loading" [style]="{width: '75px', height: '75px'}" strokeWidth="4" animationDuration="1s" mode="indeterminate"></p-progressSpinner>
  
<!-- <p-progressBar  mode="indeterminate" *ngIf="loading"></p-progressBar>
   -->
