.fa-caret-up {
    color: white;
    font-size: 16px;
}
.fa-caret-down {
    color: white; 
    font-size: 16px;
}
.displayName { 
    color: white;
}

.full-th {
    display:block;
    padding: .75rem;
}