<div class="marginTop"></div>

<div class="table-responsive">
    <table class="table table table-striped table-bordered table-hover">
      <tbody>
        <tr>
          <td>
            <p>  
              <strong>{{message?.subject}}<br>
                <small>{{message?.createDate | date}}</small>
              </strong>
            </p>
            <p>
              <!-- <span [innerHTML]="message.message | safeHtml"></span> -->
              {{message?.message}}
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>