strong {
    color: black;
}

small {
    color: black;
}

.fa-comments {
    color: black;
}

#mail-alert {
    color: black;
    background-color: #ddd;
}

a.dropdown-item.active {
    background-color: #ddd;
}

a.dropdown-item:focus {
    background-color: #ddd;
}