<div class="marginTop"></div>

<div *ngIf="!loading" class="table-responsive">
    <table class="table table table-striped table-bordered table-hover">
      <tbody>
        <tr>
          <td>
            <p>  
              <strong><br>
                <small>{{inquiry?.createDate | date}}</small>
              </strong>
            </p>
            <p>
              <span [innerHTML]="inquiry?.message | safeHtml"></span>
            </p>
            <p>
              <small *ngIf="inquiry?.generalInquiryAttachments.length"><i class="fa fa-paperclip">{{inquiry?.generalInquiryAttachments.length}} Attachments</i></small>
            </p>
            <section class="attachSection" *ngIf="inquiry?.generalInquiryAttachments.length">
              <span class="attachSpan" *ngFor='let attachment of inquiry?.generalInquiryAttachments'>
                <a href="{{attachment.url}}" download>
                  <img class="attach" [src]="attachment.url" alt="File" onError="this.src='./assets/FilePDF.png';">
                </a>
              </span>
            </section>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <img *ngIf="loading" class="spinner" src="./assets/Spinner-100px.gif" />