@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
}

.ui-widget {
    font-family:  "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1em;

    input, select, textarea, button {
        font-family:  "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 1em;
    }

    :active {
        outline: none;
    }
}

.ui-button-text-icon-left .ui-button-text {
    padding: .25em 1em .25em 2.1em
}

.ui-menu .ui-menu-child {
    border: 1px solid #d9d9d9;
    color: #1b1d1f;
    background: #f6f7f9 0 0 repeat-x;  /* Old browsers */
    background: -moz-linear-gradient(top, #f6f7f9 0%, #ebedf0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f7f9), color-stop(100%,#ebedf0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f6f7f9 0%,#ebedf0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f6f7f9 0%,#ebedf0 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #f6f7f9 0%,#ebedf0 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f6f7f9 0%,#ebedf0 100%); /* W3C */
}

.ui-menu-separator {
    border-width: 1px 0 0 0;
}

.ui-menu.ui-menu-dynamic {
    position: absolute;
    display: none;
    z-index: 100000;
}

.ui-menu-list {
    position: static;
}

.ui-menu .ui-menu-list .ui-menuitem {
    border: none;
}

.ui-menu .ui-menu-list .ui-widget-header {
    clear:both;
    float:left;
    width: 100%;
    margin: .125em 0;
    padding: .25em .5em;
}

.ui-menu .ui-menuitem-parent,
.ui-menu .ui-menuitem {
    width: 100%;
    clear: both;
    margin: .125em 0;
    padding: 0;
}

.ui-menu .ui-menuitem-link {
    display: block;
    width: 100%;
    text-decoration: none;
    font-weight: normal;
    border: 1px solid transparent;
    line-height: 3em;
    padding: .25em;
    cursor: pointer;
}

.ui-menu .ui-menuitem-link .ui-menuitem-icon {
    display: inline-block;
    vertical-align: middle;
}

.ui-menu .ui-menuitem-text {
    vertical-align: middle;
}

.ui-menu .ui-widget-header h1,
.ui-menu .ui-widget-header h2,
.ui-menu .ui-widget-header h3,
.ui-menu .ui-widget-header h4,
.ui-menu .ui-widget-header h5,
.ui-menu .ui-widget-header h6 {
    font-size: 1em;
    margin: 0 auto;
}

/* Tiered Menu */
.ui-menu .ui-menu-parent .ui-menu-child {
    border: 1px solid #d9d9d9;
    color: #1b1d1f;
    background: #f6f7f9 0 0 repeat-x;  /* Old browsers */
    background: -moz-linear-gradient(top, #f6f7f9 0%, #ebedf0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f7f9), color-stop(100%,#ebedf0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f6f7f9 0%,#ebedf0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f6f7f9 0%,#ebedf0 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #f6f7f9 0%,#ebedf0 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f6f7f9 0%,#ebedf0 100%); /* W3C */
    display: none;
    width: 12.5em;
    padding: .25em;
    position:absolute;
    margin: 0; 
    text-decoration:none;
    list-style:none;
}

.ui-menu .ui-menu-parent {
    position: relative;
}

.ui-menu .ui-menu-parent .ui-submenu-icon {
    float: right;
    margin-right: -.25em;
}


/** Menubar **/
.ui-menu.ui-menubar .ui-menubar-root-list > li > a > .ui-submenu-icon {
    float: none;

}

.ui-inputtext,.ui-widget-content .ui-inputtext,.ui-widget-header .ui-inputtext {
    font-weight: 400
}

.ui-state-default {
    border: 1px solid #d6d6d6;
    background: #ffffff;
    color: #555555;

    a {
        color: #555555 ;
    }
}

.ui-menubar {
    width:auto;
    border: 1px solid #d9d9d9;
    color: #1b1d1f;
    background: #f6f7f9 0 0 repeat-x;  /* Old browsers */
    background: -moz-linear-gradient(top, #f6f7f9 0%, #ebedf0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f7f9), color-stop(100%,#ebedf0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f6f7f9 0%,#ebedf0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f6f7f9 0%,#ebedf0 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #f6f7f9 0%,#ebedf0 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f6f7f9 0%,#ebedf0 100%); /* W3C */
}

.ui-menubar .ui-menubar-root-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ui-menubar .ui-menubar-root-list > .ui-menuitem {
    display: inline-block;
    width: auto;
}

.ui-menubar:not(.ui-megamenu-vertical) .ui-menubar-root-list > .ui-menu-separator {
    display: inline-block;
    border-width: 0 0 0 1px;
    width: 1px;
    text-indent: -9999999px;
}

.ui-menubar:not(.ui-megamenu-vertical) .ui-menubar-root-list > .ui-menu-separator::before {
    content: 'ui-menu-separator';
}

.ui-menubar .ui-menu-child .ui-menuitem {
    width: 100%;
}

.ui-menubar .ui-menuitem.ui-menuitem-custom {
    float: right;
    margin-top: 0.25em;
}

.ui-menubar .ui-menubar-options {
    float: right;
}

.ui-widget-header .ui-button,       
.ui-widget-content .ui-button,
.ui-widget.ui-button,
.ui-button {
    display: inline-block;
    text-align: center;
    position: relative;
    overflow: visible;
    text-decoration: none!important;
    border: 1px solid #2399e5;
    color: #FFFFFF;
    background: #2399e5;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    transition: background-color .2s;
    
    &:enabled:hover,
    &:focus {
        border: 1px solid #1f89ce;
        background: #1f89ce;
        outline: 0 none;
        color: #ffffff;
    }
    
    &:enabled:active {
        border: 1px solid #156090;
        background: #186ba0;
        color: #ffffff;
    }
}

.ui-button-icon-only {
    width: 2em
}

.ui-button .ui-button-text {
    display: block;
    line-height: normal
}

.ui-button-text-only .ui-button-text {
    padding: .25em 1em
}

.ui-button-icon-only .ui-button-text {
    padding: .25em;
    text-indent: -9999999px
}

.ui-button-text-icon-left .ui-button-text {
    padding: .25em 1em .25em 2.1em
}

.ui-button-text-icon-right .ui-button-text {
    padding: .25em 2.1em .25em 1em
}

.ui-button-icon-only .fa,.ui-button-text-icon-left .fa,.ui-button-text-icon-right .fa {
    position: absolute;
    top: 50%;
    margin-top: -.5em
}

.ui-button-icon-only .fa {
    top: 50%;
    left: 50%;
    margin-top: -.5em;
    margin-left: -.6em
}

.ui-button-icon-left {
    left: .5em
}

.ui-button-icon-right {
    right: .5em
}

.ui-buttonset .ui-button {
    margin-left: 0;
    margin-right: 0
}

button.ui-button::-moz-focus-inner {
    border: 0;
    padding: 0
}

.ui-fluid .ui-button {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
}

.ui-fluid .ui-button-text-icon-left .ui-button-text,.ui-fluid .ui-button-text-icon-right .ui-button-text {
    padding-left: 1em;
    padding-right: 1em
}


/** MegaMenu and TieredMenus **/
.ui-menuitem-active > .ui-submenu > ul,
.ui-menuitem-active > .ui-megamenu-panel {
    display: block !important;
}

.ui-menuitem-outline {
    outline: 1px dotted;
    z-index: 1;
}

/** Fluid **/
.ui-fluid .ui-menu:not(.ui-menu-dynamic) {
    width: 100%;
}