<div id="main">
	<!-- Main Content Area -->
	<div class="main-content">
		<div class="container-fluid">
			<h5><i class="fa fa-user"></i> Welcome, AMaley<br><small>ABC Management / Treetop Village Apartment Homes</small></h5>
			<hr>
			<h1>Dashboard</h1>
			
			<section>
				<!-- Recent Activity -->
				<div class="card mb-5">
					<div class="card-header">
						Recent Activity
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							<h6><i class="fa fa-envelope"></i> Messages <small>Community BBQ</small></h6>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh...
						</li>
						<li class="list-group-item">
							<h6><i class="fa fa-dollar"></i> Payments</h6>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh...
						</li>
						<li class="list-group-item">
							<h6><i class="fa fa-wrench"></i> Maintenance Requests</h6>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh...
						</li>
						<li class="list-group-item"><a href="#" class="btn btn-default btn-sm">View More</a></li>
					</ul>
				</div>
			</section>
			
			<section>
				<div class="card mb-5">
					<div class="card-header">
						<i class="fa fa-send"></i> Most Recent Message Sent
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-5">
								<h5 class="card-title"><small>Sent: 12/17/2017</small><br>Maintenance Update to Fitness Facility</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
								<ul class="list-inline">
									<li class="list-inline-item">
										<div class="alert alert-success" role="alert">
											<h4 class="alert-heading mb-0">75%<br><small>Read</small></h4>
										</div>
									</li>
									<li class="list-inline-item">
										<div class="alert alert-warning" role="alert">
											<h4 class="alert-heading mb-0">25%<br><small>Pending</small></h4>
										</div>
									</li>
								</ul>
								<a href="#" class="btn btn-primary btn-sm mr-1">View Message Report</a><a href="#" class="btn btn-default btn-sm">View All Messages</a>
							</div>
							<div class="col-md-3 offset-md-1">
								<img src="assets/images/community-building.png" class="img-fluid" alt="Community Chart">
							</div>
							<div class="col-md-3">
								<h6>Building Report View</h6>
								<img src="assets/images/placeholder-bar-charts.png" class="img-fluid" alt="Building Charts">
								<hr>
								<a href="btn btn-link">View All <i class="fa fa-angle-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<section id="quick-info" class="reset-text-align">
				<div class="row">
					<div class="col-md-4">
						<div class="icon-box mb-4">
							<div class="icon">
								<div class="image">
									<span class="badge badge-danger">2</span>
									<i class="fa fa-wrench"></i>
								</div>
								<div class="card">
									<div class="card-body">
										<div class="row">
											<div class="col-6">
												<img src="assets/images/placeholder-doughnut-chart.png" height="200" class="img-fluid" alt="Doughnut Chart">
											</div>
											<div class="col-6">
												<h5 class="card-title">Maintenance</h5>
												<small class="text-muted">11/01/2017 - 12/01/2017</small>
												<h6 class="mb-0"><span class="text-info">2</span> <small>New</small><br><span class="text-success">20</span> <small>Completed</small></h6>
												<a href="#" class="btn btn-primary btn-sm mr-1">View Requests</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="icon-box mb-4">
							<div class="icon">
								<div class="image">
									<span class="badge badge-success">2</span>
									<i class="fa fa-dollar"></i>
								</div>
								<div class="card">
									<div class="card-body">
										<div class="row">
											<div class="col-6">
												<img src="assets/images/placeholder-doughnut-chart.png" height="200" class="img-fluid" alt="Doughnut Chart">
											</div>
											<div class="col-6">
												<h5 class="card-title">Payments</h5>
												<small class="text-muted">11/01/2017 - 12/01/2017</small>
												<h6 class="mb-0"><span class="text-info">2</span> <small>New</small><br><span class="text-success">500</span> <small>Payments Received</small></h6>
												<a href="#" class="btn btn-primary btn-sm mr-1">View Payments</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="icon-box">
							<div class="icon">
								<div class="image">
									<span class="badge badge-info">2</span>
									<i class="fa fa-envelope"></i>
								</div>
								<div class="card">
									<div class="card-body">
										<div class="row">
											<div class="col-6">
												<img src="assets/images/placeholder-doughnut-chart.png" height="200" class="img-fluid" alt="Doughnut Chart">
											</div>
											<div class="col-6">
												<h5 class="card-title">Communications</h5>
												<small class="text-muted">11/01/2017 - 12/01/2017</small>
												<h6 class="mb-0"><span class="text-info">2</span> <small>New</small></h6>
												<a href="#" class="btn btn-primary btn-sm mr-1">View Messages</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	
	<footer>
		<small>&copy; 2018 BetterLeasing</small>
	</footer>
</div>
