		<div class="container-fluid">
			<h5><i class="fa fa-user"></i> Welcome, {{currentUser.firstname}}<br><small>Treetop Village Apartment Homes / 112A Madison St.</small></h5>
			<hr>
			<h1>Dashboard</h1>

			<div class="row">
				<!-- Left Content Container -->
				<div class="col-md-9">

					<div class="alert alert-warning alert-dismissible fade show" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true"><i class="fa fa-times"></i></span>
						</button>
						<h4><i class="fa fa-telegram"></i> Urgent</h4>
						A resident found your wallet in the laundry room.  Can you please contact me so that I can return it?
						<hr>
						<a href="#" class="btn btn-warning">Make Payment</a>
					</div>

					<section id="quick-info">
						<div class="row">
							<div class="col-md-6">
								<div class="icon-box">
									<div class="icon">
										<div class="image">
											<span class="badge badge-info">2</span>
											<i class="fa fa-comments"></i>
										</div>
										<div class="card">
											<div class="card-body">
												<h4 class="card-title">Communications</h4>
												<a routerLink="/messages/inbox" routerLinkActive="active" href="#" class="btn btn-primary btn-sm mr-1">View</a><a href="#" class="btn btn-default btn-sm">Send Message</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
									<div class="icon-box">
										<div class="icon">
											<div class="image">
												<i class="fa fa-user"></i>
											</div>
											<div class="card">
												<div class="card-body">
													<h4 class="card-title">My Account</h4>
													<a routerLink="/messages/inbox" routerLinkActive="active" href="#" class="btn btn-primary btn-sm mr-1">View Account</a>

												</div>
											</div>
										</div>
									</div>
								</div>
						</div>
					</section>

					<app-announcements [pageSize]="3" [paginate]="false" [viewAll]="true"></app-announcements>

				</div>
					<div class="col-md-3">
						<!-- Recent Activity -->
						<app-activity [pageSize]="2" [maxSize]="200"></app-activity>
						<a routerLink="/activity" routerLinkActive="active" class="btn btn-primary btn-sm btn-block">View More</a>
					</div>
				</div>

		</div>
