<div id="main">
	<!-- Main Content Area -->
	<div class="main-content">
		<div class="container-fluid">
			<h5><i class="fa fa-user"></i> Welcome, {{currentUser.firstname}}<br><small>Treetop Village Apartment Homes / 112A Madison St.</small></h5>
			<hr>
			<h1>Dashboard</h1>
			
			<div class="row">
				<!-- Left Content Container -->
				<div class="col-md-9">
					
					<div class="alert alert-primary alert-dismissible fade show" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true"><i class="fa fa-times"></i></span>
						</button>
						<h4><i class="fa fa-telegram"></i> Lorem Ipsum!</h4>
						Lorem ipsum dolor sit amet...
						<hr>
						<a href="#" class="btn btn-primary">Make Payment</a>
					</div>

					<div class="alert alert-danger alert-dismissible fade show" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true"><i class="fa fa-times"></i></span>
						</button>
						<h4><i class="fa fa-telegram"></i> Lorem Ipsum!</h4>
						Lorem ipsum dolor sit amet...
						<hr>
						<a href="#" class="btn btn-danger">Make Payment</a>
					</div>			

					<!-- For future, these are all of our alerts -->
					<!-- <div class="alert alert-primary alert-dismissible fade show" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true"><i class="fa fa-times"></i></span>
						</button>
						<h4><i class="fa fa-telegram"></i> Lorem Ipsum!</h4>
						Lorem ipsum dolor sit amet...
						<hr>
						<a href="#" class="btn btn-primary">Make Payment</a>
					</div>
					<div class="alert alert-secondary alert-dismissible fade show" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true"><i class="fa fa-times"></i></span>
						</button>
						<h4><i class="fa fa-telegram"></i> Lorem Ipsum!</h4>
						Lorem ipsum dolor sit amet...
						<hr>
						<a href="#" class="btn btn-secondary">Make Payment</a>
					</div>
					<div class="alert alert-danger alert-dismissible fade show" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true"><i class="fa fa-times"></i></span>
						</button>
						<h4><i class="fa fa-telegram"></i> Lorem Ipsum!</h4>
						Lorem ipsum dolor sit amet...
						<hr>
						<a href="#" class="btn btn-danger">Make Payment</a>
					</div>
					<div class="alert alert-warning alert-dismissible fade show" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true"><i class="fa fa-times"></i></span>
						</button>
						<h4><i class="fa fa-telegram"></i> Lorem Ipsum!</h4>
						Lorem ipsum dolor sit amet...
						<hr>
						<a href="#" class="btn btn-warning">Make Payment</a>
					</div>
					<div class="alert alert-success alert-dismissible fade show" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true"><i class="fa fa-times"></i></span>
						</button>
						<h4><i class="fa fa-telegram"></i> Lorem Ipsum!</h4>
						Lorem ipsum dolor sit amet...
						<hr>
						<a href="#" class="btn btn-success">Make Payment</a>
					</div>
					<div class="alert alert-info alert-dismissible fade show" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true"><i class="fa fa-times"></i></span>
						</button>
						<h4><i class="fa fa-telegram"></i> Lorem Ipsum!</h4>
						Lorem ipsum dolor sit amet...
						<hr>
						<a href="#" class="btn btn-info">Make Payment</a>
					</div> -->
					
					<section id="quick-info">
						<div class="row">
							<div class="col-md-4">
								<div class="icon-box mb-4">
									<div class="icon">
										<div class="image">
											<span class="badge badge-primary">2</span>
											<i class="fa fa-wrench"></i>
										</div>
										<div class="card">
											<div class="card-body">
												<h4 class="card-title">Maintenance Request</h4>
												<a href="#" class="btn btn-primary btn-sm mr-1">View Requests</a><a href="#" class="btn btn-default btn-sm">Submit Request</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="icon-box mb-4">
									<div class="icon">
										<div class="image">
											<span class="badge badge-success">2</span>
											<i class="fa fa-dollar"></i>
										</div>
										<div class="card">
											<div class="card-body">
												<h4 class="card-title">Payments</h4>
												<a href="#" class="btn btn-primary btn-sm mr-1">View History</a><a href="#" class="btn btn-default btn-sm">Make Payment</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="icon-box">
									<div class="icon">
										<div class="image">
											<span class="badge badge-info">2</span>
											<i class="fa fa-envelope"></i>
										</div>
										<div class="card">
											<div class="card-body">
												<h4 class="card-title">Communications</h4>
												<a href="#" class="btn btn-primary btn-sm mr-1">View History</a><a href="#" class="btn btn-default btn-sm">Send Message</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					
					<section>
						<h2>Announcements</h2>
						<table class="table">
							<tbody>
								<tr>
									<td>
										<h4>Fall Winter Cleanup<br><small>10/21/2017</small></h4>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
									</td>
								</tr>
								<tr>
									<td>
										<h4>Free Breakfast in Lobby Area<br><small>starting 12/01/2017</small></h4>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
									</td>
								</tr>
							</tbody>
						</table>
					</section>
				</div><!--/Left Content Container -->
				<!-- Right Content Container -->
				<div class="col-md-3">
					<!-- Recent Activity -->
					<div class="card">
						<div class="card-header">
							Recent Activity
						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">
								<h6><i class="fa fa-envelope float-right"></i>Messages<br><small>Community BBQ</small></h6>
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh...
							</li>
							<li class="list-group-item">
								<h6><i class="fa fa-dollar float-right"></i>Payments</h6>
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh...
							</li>
							<li class="list-group-item">
								<h6><i class="fa fa-wrench float-right"></i>Maintenance Requests</h6>
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh...
							</li>
							<li class="list-group-item">
								<h6><i class="fa fa-envelope float-right"></i>Messages<br><small>Community BBQ</small></h6>
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh...
							</li>
							<li class="list-group-item">
								<h6><i class="fa fa-wrench float-right"></i>Maintenance Requests</h6>
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh...
							</li>
							<li class="list-group-item">
								<h6><i class="fa fa-envelope float-right"></i>Messages<br><small>Community BBQ</small></h6>
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh...
							</li>
						</ul>
					</div>
					<a href="#" class="btn btn-primary btn-sm btn-block">View More</a>
				</div><!--/Right Content Container -->
			</div><!--/.row -->
			
		</div>
	</div>
	
	<footer>
		<small>&copy; 2018 BetterLeasing</small>
	</footer>
</div>