/* Sticky Top
-------------------------------------------------- */
.navbar {
	background-color: #ddd;
	height: 2.188rem;
	padding-right: 0;
}
.navbar .nav-item h6 {
	margin: 0;
	line-height: 0.875rem;
	display: inline-block;
	font-size: 0.875rem;
}
.navbar .nav-item h6 small {
	color: #777;
	font-size: 0.6875rem;
}
.navbar ul {
	margin: 0;
}
.nav-item {
	font-size: 12px;
	text-transform: uppercase;
	height: 2.188rem;
}
.nav-item:last-child a {
	color: #fff;
}
.nav-item .btn {
	padding: inherit;
}
.user-logo {
	padding: 0.9375rem;
	text-align: center;
}
.user-logo h6 {
	font-size: 0.875rem;
	margin: 0.5rem 0;
}
.navbar-brand {
	margin: 0;
}
.navbar-brand img {
	max-height: 4.063rem;
	display: inline-block;
}


/* Sticky Left Nav
-------------------------------------------------- */
.nav-side-menu {
	overflow-y: auto;
	font-weight: 200;
	background-color: #f6f6f6;
	position: fixed;
	top: 0;
	height: 100%;
	width: 14.06rem;
	border-right: 0.0625rem solid #eee;
}
.nav-side-menu .brand {
	text-align: center;
	background-color: #eee;
	padding: 0.625rem;
}
.nav-side-menu .brand img {
	max-height: 3.75rem;
}
.nav-side-menu .toggle-btn {
	display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
	list-style: none;
	padding: 0;
	margin: 0;
	cursor: pointer;
}
.nav-side-menu li a {
	margin-left: 0.625rem;
}
.nav-side-menu ul,
.nav-side-menu li,
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
	line-height: 2.813rem;
}
.nav-side-menu ul .active a,
.nav-side-menu li .active a,
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a,
.nav-side-menu li:hover a,
.nav-side-menu ul .sub-menu li:hover a,
.nav-side-menu li .sub-menu li:hover a{
	color: #fff;
}
.nav-side-menu li:hover,
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}
.nav-side-menu .arrow:before,
.nav-side-menu li .arrow:before,
.nav-side-menu ul .collapsed .arrow:before,
.nav-side-menu li .collapsed .arrow:before {
	font-family: FontAwesome;
	display: inline-block;
	padding: 0 0.625rem;
	vertical-align: middle;
	float: right;
}
.nav-side-menu .arrow:before,
.nav-side-menu li .arrow:before {
	content: "\f107";
}
.nav-side-menu ul .collapsed .arrow:before,
.nav-side-menu li .collapsed .arrow:before {
	content: "\f105";
}
.nav-side-menu li a {
	font-weight: 400;
	font-size: 0.8125rem;
	text-transform: uppercase;
}
.nav-side-menu li a:hover,
.nav-side-menu li a:active,
.nav-side-menu li a:focus {
	text-decoration: none;
}
.nav-side-menu li a i {
	margin: 0 0.625rem;
	width: 0.9375rem;
}
.nav-side-menu ul .sub-menu li a,
.nav-side-menu li .sub-menu li a {
	margin-left: 1.875rem;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
	margin-left: 0;
	background-color: #eee;
}

 /* John Changes */ 

.dropdown-menu {
	top: 100% !important;
	left: auto !important;
}

li:focus {
    outline: none;
}











