<div class="fixed-top navbar navbar-expand flex-column flex-md-row bd-navbar">
  <ul class="navbar-nav flex-row ml-md-auto d-sm-flex">
    <li ngbDropdown class="nav-item dropdown">
      <a class="nav-item nav-link" id="mail-alert" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle><i class="fa fa-envelope"></i> <sup><span class="badge badge-primary">3</span></sup></a>
      <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right" aria-labelledby="mail-alert">
        <a class="dropdown-item" href="#"><strong>John Smith &nbsp;<small>just now</small></strong><br>Lorem ipsum dolor noretek imit set...</a>
        <a class="dropdown-item" href="#"><strong>Alex T. &nbsp;<small>15 mins ago</small></strong><br>Lorem ipsum dolor noretek imit set...</a>
        <a class="dropdown-item" href="#"><strong>Jane Smith &nbsp;<small>25 mins ago</small></strong><br>Lorem ipsum dolor noretek imit set...</a>
        <a class="dropdown-item" href="#"><strong>John Wilson &nbsp;<small>Dec 12, 2017</small></strong><br>Lorem ipsum dolor noretek imit set...</a>
      </div>
    </li>
    <li ngbDropdown class="nav-item dropdown">
      <a class="nav-item nav-link" id="notifications-alert" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle><i class="fa fa-bell"></i> <sup><span class="badge badge-danger">2</span></sup></a>
      <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right" aria-labelledby="notifications-alert">
        <a class="dropdown-item" href="#"><strong class="text-danger"><i class="fa fa-exclamation-circle"></i> Payment Due</strong><br>Lorem ipsum dolor noretek imit set...</a>
        <a class="dropdown-item" href="#"><strong class="text-warning"><i class="fa fa-wrench"></i> Maintenance Request</strong><br>Lorem ipsum dolor noretek imit set...</a>
      </div>
    </li>
    <li class="nav-item"><a routerLink="/login" [queryParams]="{out: '1'}" class="nav-link"><i class="fa fa-power-off"></i> Logout</a></li>
  </ul>
</div>

<!-- Sticky Left Nav -->
<div class="nav-side-menu">
  <div class="user-logo">
    <a href="#" class="navbar-brand">
      <img *ngIf="rentalSite" [src]="rentalSite.logoUrl" alt="BetterLeasing" [title]="rentalSite.name">
    </a>
    <i class="fa fa-bars fa-2x toggle-btn" (click)="isCollapsed = !isCollapsed"></i>
  </div>

  <div class="menu-list">

    <ul id="menu-content" class="menu-content collapse out" [ngbCollapse]="isCollapsed">
      <li routerLink="/dashboard" routerLinkActive="active">
        <a><i class="fa fa-dashboard"></i> Dashboard</a>
      </li>
      <li routerLink="/applicant" routerLinkActive="active">
        <a><i class="fa fa-user"></i> Applicants</a>
      </li>
      <li routerLink="/maintenance" routerLinkActive="active">
        <a><i class="fa fa-wrench"></i> Maintenance</a>
      </li>
      <li routerLink="/messages" data-toggle="collapse" data-target="#products" class="collapsed">
        <a><i class="fa fa-comments"></i> Communications <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" routerLinkActive="show">
        <li routerLink="/messages/inbox" routerLinkActive="active"><a><i class="fa fa-envelope"></i> Messages</a></li>
        <li routerLink="/announcements" routerLinkActive="active"><a><i class="fa fa-bullhorn"></i> Announcements</a></li>
      </ul>
      <li routerLink="/my-account" routerLinkActive="active">
        <a><i class="fa fa-id-card-o"></i> My Account</a>
      </li>
    </ul><!-- /.menu-list -->
   </div>
</div>

