
		<div class="container">
      <form [formGroup]="messageForm" (ngSubmit)="send()" novalidate>
          <div class="modal-header">
            <h5 class="modal-title" id="composeMailModalLabel"><i class="fa fa-edit"></i> Create Message</h5>
            <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
  
          <div class="modal-body">
            <div class="form-group">
              <p class="mb-0"><label for="messageType">Message Type:</label></p>
              <div class="row">
                <div class="col-sm-12">
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" formControlName="messageType" id="messageStandard" value="GENERAL_INQUIRY">
                        <label class="form-check-label" for="messageStandard">Standard Message</label>
                      </div>
                    </li>
                    <li class="list-inline-item">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" formControlName="messageType" id="maintenceRequest" value="MAINTENANCE_REQUEST">
                        <label class="form-check-label" for="maintenceRequest">Maintenance Request</label>
                      </div>
                    </li>
                    <li class="list-inline-item">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" formControlName="messageType" id="residentFeedback" value="RESIDENT_FEEDBACK">
                        <label class="form-check-label" for="residentFeedback">Resident Feedback</label>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-sm-12">
                  <input type="hidden" name="toggle">
                    <div class="checkbox">
                      Urgent
                     <app-inputswitch formControlName="urgentBool"></app-inputswitch>
                    </div>
                  </div>
              </div>
            </div>
            <div class="form-group">
              <label for="fromEmail">From:</label>
              <input type="text" readonly class="form-control-plaintext" id="fromEmail" value="info@treetopvillage.com">
            </div>
            <div class="form-group">
              <label for="subject">Subject:</label>
              <input type="email" class="form-control" formControlName="subject" placeholder="Subject">
            </div>
            <p-editor formControlName="message" [style]="{'height':'320px'}">
              <p-header>
                  <span class="ql-formats">
                    <select class="ql-size" tabindex="-1">
                        <option value="small"></option>
                        <option selected></option>
                        <option value="large"></option>
                        <option value="huge"></option>
                      </select>
                      <button class="ql-bold" aria-label="Bold" tabindex="-1"></button>
                      <button class="ql-italic" aria-label="Italic" tabindex="-1"></button>
                      <button class="ql-underline" aria-label="Underline" tabindex="-1"></button>
                  </span>
              </p-header>
            </p-editor>
            <div class="form-group">
                <label>Attachments:</label>
                <small class="sizeGuide">Maximum size: 10 MB (combined). Maximum 5 Attachments per message.</small>
                <app-form-upload (uploadForm)="getDataFromChild($event)" (removeFile)="removeAttachment($event)"></app-form-upload>
            </div>
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-primary pointer" (click)="send()" [disabled]="messageForm.invalid">Send</button>
            <button type="button" class="btn btn-secondary pointer" (click)="activeModal.close('Close click')">Close</button>
          </div>
        </form>
      </div>
  
      <img *ngIf="loading" src="./assets/Spinner-small.gif" />
      
  
  